﻿@model InterviewTaskAE.Models.Artwork

<section class="section mt-5">
    <div class="container d-flex h-100 flex-column">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-5">
                    <div>
                        <img alt="Picture" class="img-fluid" src="@Model.Url" />
                    </div>
                </div>
                <div class="col-md-7 d-flex mt-2">
                    <div>
                        <div class="container">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    Title
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    Artist
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Artist.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    Description
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-2">
                                    Origin
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PlaceOfOrigin)
                                </dd>
                                <dt class="col-sm-2">
                                    Created
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.AssumedDate)
                                </dd>
                                <dt class="col-sm-2">
                                    Dimensions
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Dimensions)
                                </dd>
                                <dt class="col-sm-2">
                                    Medium
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Medium)
                                </dd>
                            </dl>
                        </div>

                        <div class="row m-md-1">
                            <div>
                                <a class="btn btn-secondary btn-sm" asp-controller="Artworks" asp-action="CreatePdf" asp-route-id="@Model.ApiId">Download Pdf</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

