﻿@model InterviewTaskAE.Services.Models.ListingModel

<form asp-action="Search" method="get">
    <div class="form-actions no-color">
        <p>
            @Html.TextBox("search", ViewBag.Search as string)
            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
        </p>
    </div>
</form>

<div class="row">
    @foreach (var item in Model.Artworks)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="@item.Url" class="card-img-top" alt="image-not-available" width="200" height="300">
                <div class="card-body">
                    <h4 class="card-title"><b>@item.Name</b></h4>
                    <h4 class="card-title"> @item.Artist.Name</h4>
                    <h4 class="card-title"> @item.AssumedDate</h4>
                    <a class="btn btn-primary btn-sm" asp-controller="Artworks" asp-action="Details" asp-route-id="@item.ApiId">View artwork</a>
                </div>
            </div>
        </div>}
</div>

@if (Model.Pagination.CurrentPage > 1)
{
    <input type="button" value="Previous Page" onclick="@("window.location.href='" + @Url.Action("Index", "Artworks", new { page = Model.Pagination.CurrentPage - 1 }) + "'");" />
}

@if (Model.Pagination.CurrentPage < Model.Pagination.TotalPages)
{
    <input type="button" value="Next Page" onclick="@("window.location.href='" + @Url.Action("Index", "Artworks", new { page = Model.Pagination.CurrentPage + 1 }) + "'");" />
}
