﻿@model ICollection<InterviewTaskAE.Models.Artwork>
@{
    ViewData["Title"] = "Home Page";
}

<style>
body { background-image: url('https://img.theculturetrip.com/1440x807/smart/wp-content/uploads/2019/05/feature_j87t9a.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }
</style>

<div class="text-center">
    <a class="button1" onclick="window.location.href='Artworks/Index'">Explore our Artworks</a>
</div>
